@charset "UTF-8";

/* -- Typical Devices Breakpoints 
----------------------------------
Pequenas Telas: até 600px
Celular: de 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes Telas: acima de 1200px
----------------------------------
*/


@media print {
    * {
        font-family: 'Courier New', Courier, monospace;
    }

    body {
        font-weight: 100;
    }

    header > p {
        display: none;
    }

    nav, footer, aside {
        display: none;
    }
}

@media screen and (max-width: 700px) {
    footer {
        width: 300px;
        height: 60px;
    }
}

@media screen and (max-width: 768px){
    nav {
        padding-top: 10px;
        padding-right: 35px;
        height: 150px;
    }

    nav a {
        text-align: center;
        display: block;
    }
}

@media screen and (max-width: 992px) {
    main > section#enterprise-edition {
        width: 300px;
        margin: auto;
        height: 400px;
        font-family: var(--fonte-padrao);
    }    

    main > section#advanced-edition {
        width: 300px;
        margin: auto;
        height: 200px;
        margin-top: 15px;
    }

}